.aboutContainer{
    background-image: url('../resources/test/costumeMan.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 0;
}



.about{
    margin-left: 10%;
    text-align: left;
    width: 50%;
    font-size: x-large;
    font-family: 'Inter', sans-serif, system-ui;
    color: white;
}
.about >h1{
    margin-top: 0;
}