.detective{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    background-image: url('../resources/test/detectiveBackGround.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: white;
    height: 500px;
}
#detective_photo{
    padding-top: 5%;
    float: left;
}
#detective_photo > img{
    height: 400px;
    width: 400px;
}
#detective_discription{
    float: right;
    padding-top: 10%;
    font-size: xx-large;
    height: 300px;
    width: 500px;
}