.mainNavigation{
    display: inline;
    margin-top: 5%;
    font-family: 'Inter', sans-serif, system-ui;
}
.mainNavigation > div{
    display: inline-block;
}
#name{
    margin-left: 5%;
    font-size: large;
}
#navigation{
    font-size: large;
    margin-left: 500px;
}
#navigation > li{
    display: inline;
    text-align: center;
    margin-left: 10px;
    border: 10px;
    background-color: yellowgreen;
}