.services{
    margin-top: 0;
    width: 100%;
    background-image: url('../resources/test/justBG.jpg');
    background-size: cover;
}
.services >h1{
    margin-top: 0;
    text-align: center;
    color: #000;
}
.service{
    display: inline-block;
    margin-left:15%;
    margin-top: 2%;
    width: 70%;
    background-color: darkblue;
    color: white;
}
.photo{
    padding-left: 0%;
    float: left;
    border: 100px;
    padding-right: 100px ;
    height: 200px;
    width: 200px;
}
.photo>img{
    height: 200px;
    width: 200px;
}
.serviceDescription>h3{
    font-size: x-large;
    text-align: center;
}
.serviceDescription>p{
    font-size: large;
}