.shortDescription{
    font-family: 'Inter', sans-serif, system-ui;
    margin-left: 5%;
    height: 200px;
    width: 400px;
}
.shortDescription >h1{
    font-size: xx-large;
}
.shortDescription >h3{
    font-size: large;
}